{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}

  <div{{ attributes.addClass(classes) }}>
    <div class="footerrow">
      <div class="footercol1">
        <img class="footerlogo" src="/themes/iovi/css/img/kulturpunkt_logo_weiss.png" alt="" />
      </div>
      <div class="footermenu">

      </div>
      <div class="footerfill">
      </div>
    </div>

    <div class="footer-block footercol1">
      <div class="footer-item-kultur">
        <h3>kultur</h3>
        <p>
          Klein aber oho! Ein vielseitiges Kulturprogramm und rund 100 Anlässe pro Jahr – ein Ort der Begegnung mit Menschen und Künstlern aus aller Welt und allen denkbaren Sparten. Aktiv gelebte Weltkultur im Osten der Schweiz.
        </p>
      </div>
      <div class="footer-item-konto">
        <h3>konto</h3>
        <p>
          Raiffeisenbank <br>
          IBAN: <br>
          CH07 8132 5000 0075 1093 1 <br>
          Konto: 90-440-6
        </p>
      </div>
      <div class="footer-item-kontakt">
        <h3>kontakt</h3>
        <p>
        Kulturpunkt Flawil <br>
        St.Gallerstrasse 13 <br>
        CH-9230 Flawil <br><br>
        <script language="JavaScript"> var username = "info"; var hostname = "kulturpunkt-flawil.ch"; var linktext = username + "@" + hostname ; document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");</script> <br>
        tel: +41 79 224 82 88
        </p>
      </div>
    </div>

    <div class="footer-block footercol2">
      <h3>karte</h3>
      <div class="mapcontainer">
        <iframe class="googlemaps lazy" data-src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJEaqBBJ_nmkcRDMBPfkLlnl8&key=AIzaSyAMcdIWggE4oYqunddlE4A_vY6iIPF9m-g" width="100%" height="auto" frameborder="0" style="border:0"  allowfullscreen></iframe>
      </div>
    </div>

    <div class="footer-block footercol3">
      <h3>sozial</h3>
      <div class="fbcontainer">
        <iframe class="lazy" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fkulturpunktflawil&tabs=timeline&width=340&height=384&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="384" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
    </div>



  </div>
