@import "susy";

$susy: (
  flow: ltr,
  output: float,
  math: fluid,
  column-width: false,
  container: 960px, // length or % | auto
  container-position: center,
  columns: 12,
  gutters: .5,
  gutter-position: after,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

$nav_layout: layout(12 0 fluid float inside);
$fontface: "modesto-text";

@mixin mix-blend-mode-difference {
  //color: white;
  //mix-blend-mode: difference;
  .user-logged-in & {
    color: black;
    mix-blend-mode: normal;
  }
}

@mixin mix-blend-mode-difference-footer {
  //mix-blend-mode: difference;
  .user-logged-in & {
    mix-blend-mode: normal;
  }
}

@mixin topofpage {
  top: 0;
  .user-logged-in &{
    top:80px;
  }
}

body{
  color: black;
  font-family: $fontface;
  line-height: 1.25;
  font-size: 2.5vmin;
}

h1 {
  font-size: 5vmin;
}

h2 {
  font-size: 3vmin;
  margin-top: 0;
}

h3{
  font-size: 2.5vmin;
}

p {
  font-size: 2vmin;
}

canvas{
  margin: 0 auto;
  position: fixed;
  display: block;
  background-color: white;
  z-index: 0;
}

img{
  width:100%;
  height:auto;
}


.event_image{
  overflow: hidden;
}

.field--type-image{
  overflow: hidden;
  position: relative;
}

.field--name-title{
  @include mix-blend-mode-difference;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.field--name-body,.event_date,.event_detail_info,.event_type_genre{
  @include mix-blend-mode-difference;
}

.event_date{
  font-size: 7vmin;
  line-height: 1;
}

.layout-container{
  position: relative;
  color:black;
  a{
    @include mix-blend-mode-difference;
    text-decoration: underline;
  }

  a:hover{
    opacity: 90%;
  }
  a:active{
    font-weight: bold;
  }
}

#edit-submit-programm{
  display: none;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}


header{
  @include mix-blend-mode-difference;
  @include full;
  @include topofpage;
  position: fixed;
  box-sizing: border-box;
  background-color: #fff;
  #block-sitebranding{
    @include prefix(1);
    @include suffix(1);
    margin-top:1rem;
    .site-logo{
      float:left;
      margin-right:1rem;
      img{
        height:60px;
        width:auto;
      }
      a{
        text-decoration: none;
      }
    }
    .site-name{
      height:60px;
      float:left;
      a{
        text-decoration: none;
        color: #e94c4f;
        font-size: 1.5em;
        line-height: 1;
      }
    }
    .site-slogan{
      color:#fff;
      font-size: 3vmin;
      @include span(last 11);
    }

    #nav-toggle {
    	float:right;
    	margin: 1em;
    }

    #nav-toggle {
    	cursor: pointer;
    	padding: 10px 35px 16px 0px;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: #e94c4f;
      position: absolute;
      display: block;
      content: '';
    }
    #nav-toggle span:before {
      top: -10px;
    }
    #nav-toggle span:after {
      bottom: -10px;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
      transition: all 500ms ease-in-out;

    }
    #nav-toggle.active span {
      background-color: transparent;
    }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0;
      background-color: #e94c4f;
    }
    #nav-toggle.active span:before {
      transform: rotate(45deg);
    }
    #nav-toggle.active span:after {
      transform: rotate(-45deg);
    }
  }
  #block-mainnavigation{
    display:none;
  }
  nav.navigation{
    @include prefix(1);
    @include suffix(1);
    @include span(10);
    margin-top:1em;
    @include susy-breakpoint(0px 414px){
      margin-top:1em;
    }
    ul.menu
      a{
        color:#e94c4f;
        text-decoration: none;
      }
      a:hover{
        font-weight: bold;
      }
    }
    ul.menu a.is-active{
      color:#e94c4f;
      font-weight: bold;
    }
    ul.menu li.menu-item{
      @include span(3 of $nav_layout);
      @include susy-breakpoint(0px 414px){
        display:none;
        @include full;
      }
    }
    ul.menu li.icon{
      display:none;
      @include susy-breakpoint(0px 414px){
        float: right;
        display: inline-block;
        margin-right: 10vmin;
      }
      a{
        font-size: 7vmin;
      }
    }

    ul.menu.responsive{
      @include susy-breakpoint(0px 414px){
        position: relative;
        float: none;
      }
    }
    ul.menu.responsive li.icon{
      @include susy-breakpoint(0px 414px){
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    ul.menu.responsive li{
      @include susy-breakpoint(0px 414px){
        float: none;
        display: inline;
      }
    }
    ul.menu.responsive li a{
      @include susy-breakpoint(0px 414px){
        display: block;
        text-align: right;
      }
    }
    #site-nav{
        .menu-item{
        }
    }
  }


main{
  @include container;
  margin: 6.5em auto 15vh;
  .view-filters{
    @include full;
    .form--inline .form-item {
      float:right;
    }
  }

  article{
    @include full;
    max-height: 20vh;
    margin-top:5vh;
    overflow: hidden;

    .event_image{
      @include span(4);
      img{
      }
    }
    .event_title{
      @include span(6);
      h2{
        margin:0;
      }
      a{
        color:black;
        text-decoration: none
      }
    }
    .event_type_genre{
      @include span(6);
    }
    .event_date{
      @include span(last 2);
    }

  }

  .event_detail{
    @include full;
    .event_detail_col1{
      @include span(6);
      margin-top:1vmin;

      .event_detail_body{
        @include full;
      }
      .event_detail_info{
        @include full;
      }
    }
    .event_detail_col2{
      @include span(last 6);
      .event_detail_image{
        @include full;
          .main-carousel{
          }
          .carousel-cell{
            width:100%;
            height:100%;
          }
      }
      .event_detail_video{
        @include full;
      }


    }
    .field__label{
      font-size: 2.5vmin;
      float: left;
      padding-right: 0.5em;
    }

  }

  .programm-event{

  }
}


footer{
  @include full;
  margin-top:10vh;
  background-color: #fff;
  @include mix-blend-mode-difference-footer;
  .region-footer{
    @include full;
    #block-adresse{
      @include span (4);
    }
    #block-footermap{
      @include span (4);
    }
  }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: #000;
  //mix-blend-mode: difference;
  cursor: pointer;
  border: none;
  outline: none;
//  transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active,
.accordion:hover {
}
