@import "susy";

$susy: (
  flow: ltr,
  output: float,
  math: fluid,
  column-width: false,
  container: 960px, // length or % | auto
  container-position: center,
  columns: 12,
  gutters: .5,
  gutter-position: after,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

$nav_layout: layout(12 0 fluid float inside);
$nav_layout_mobile: layout(12 0);
$fontface: "modesto-text";
$rot: #e94c4f;

@import "partials/mixins.scss";

body{
  color: black;
  font-family: $fontface;
  line-height: 1.25;
  font-size: 1em;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.375em;
  line-height: 1.25em;
  font-weight: 300;
  margin-top: 0;
  @include susy-breakpoint(0px 760px){
    font-size: 1.25em;
  }
}

h3{
  font-size: 1.25em;
  font-weight:300;
}

p {
  font-size: 1em;
  line-height: 1.25em;
  font-weight:300;
}

canvas{
  margin: 0 auto;
  position: fixed;
  display: none;
  z-index: 0;
}

img{
  width:100%;
  height:auto;
}

.field--type-image{
  overflow: hidden;
  position: relative;
}

.field--name-title{
  @include mix-blend-mode-difference;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.field--name-body,.event_date,.event_detail_info,.event_type_genre{
  @include mix-blend-mode-difference;
}



.layout-container{
  @include container;
  position: relative;
  color:black;
  a{
    @include mix-blend-mode-difference;
    text-decoration: underline;
  }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

/* Overlay style */
.overlay {
	/*position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(233,76,79,0.9);*/
  ;
}

.overlay-title{
  font-size:8vh;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
  color:#fff;
}

h2.overlay-toggle{
  text-align: center;
  margin: 0 0 1em 0;
  color:#fff;
}

/* Overlay closing cross */
button.overlay-toggle {
	width: 64px;
	height: 64px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	overflow: hidden;
	border: none;
	background: url(img/cross.png) no-repeat center center;
  background-color:rgba(233,76,79,0.9);
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 99999;
}

.overlay-message{
  position: fixed;
  bottom: 20px;
	right: 84px;
  height: 64px;
  background-color:rgba(233,76,79,0.9);
  z-index:99999;
  p{
    color:#fff;
    font-weight:300;
    padding: 0 1em;
    line-height: 1.6;
  }
}
/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-wrap{
  max-width:960px;
  margin: 0 auto;
  padding:0 1em 0 1em;
}

.welcomevideo{

}

@import "partials/header.scss";

main{
  @include full;
  margin: 12em auto 5vh;
  @include susy-breakpoint(0px 960px){
    float:none;
    width:95%;
    margin-left: auto;
    margin-right: auto;
  }
  .view-filters{
    display: none;
    @include full;
    margin-top:1em;
    .form--inline .form-item, {
      float:left;
      margin-bottom: 1em;
    }
    select, input{
      margin: 0 1em 0 0.5em;
      border-color: $rot;
      background-color: white;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
    }
    input{
      padding: 1px 6px 2px;
    }
  }

  article.node--type-projektgruppe{
    @include span(6);
    @include susy-breakpoint(0px 760px){
      @include full;
    }
    .node_content{
      width:100%;
    }

  }
  article.node--type-projektgruppe:nth-child(2n+2){
    @include span(last 6);
  }



  article.node--type-event{
    @include full;
    max-height: 169px;
    margin-top:30px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
    display: flex;
    @include susy-breakpoint(0px 760px){
      max-height: 201px;
    }
      .event_content{
        width:100%;
      }
      .event_date{
        font-size: 1.375em;
        line-height: 1.25em;
        @include span(2);
        height:100%;
        background-color:$rot;
        margin-right:0;
        div{
          padding-top: 0;
          text-align: center;
          color: white;
        }
        div:first-child{
          padding-top: 0.5em;
        }
        @include susy-breakpoint(0px 760px){
          font-size: 1em;
          @include span(full);
          height:2em;
          div{
            display:inline-block;
            float:right;
            padding-top:0;
            padding: 0 0.25em;
          }
          div:first-child{
            float:left;
            padding-top:0;
          }
          div.field__items{
            float:left;
          }
        }
      }
      .event_image{
        @include span(4);
        height: 0;
        padding-bottom: 17.678570625%;
        img{
        }
        @include susy-breakpoint(0px 760px){
          @include span(5);
          margin-right:0;
        }
      }
      .event_title{
        @include span(last 6);
        h2{
          margin:0;
          padding: 0.5em;
        }
        a{
          color:black;
          text-decoration: none
        }
        @include susy-breakpoint(0px 760px){
          @include span(7);
        }
      }
      .event_type_genre{
        @include full;
      }

  }

  .event_detail{
    @include full;

    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;

    &.active {
      opacity: 1;
      max-height: none;
    }

    .event_detail_col1{
      @include span(7);
      margin-top:2em;
        @include susy-breakpoint(0px 414px){
          @include full;
        }
      .event_detail_body{
        @include full;
        margin-bottom:1em;
        p{
          line-height: 1.25 !important;
        }
      }
      .event_detail_info{
        @include full;
      }
    }
    .event_detail_col2{
      @include span(last 5);
      margin-top:2em;
        @include susy-breakpoint(0px 414px){
          @include full;
        }
      .event_detail_image{
        @include full;
        img{
        }
        //@include full
          /* cell inherit height from carousel */
          .carousel-cell {
            width: 100%;
          }
      }
      .event_detail_video{
        @include full;
        .field--type-video{
          position: relative;
          width: 100%;
          padding-bottom: 56.25%;
          padding-top: 35px;
          height: 0px;
          overflow: hidden;
          left: 0%;
          margin-bottom: 1em;
          iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  .field__label:after{
    content:":";
  }
  .field--label-inline .field__label{
    float: left;
    padding-right: 0.5em;
    }

  }

  .programm-event{
  }
  .js-pager__items{
    text-align: center;
    margin-top: 5vh;
  }
}

footer{
  @include full;
  margin-top:10vh;
  background-color: $rot;
  color: white;
  @include mix-blend-mode-difference-footer;

  @include susy-breakpoint(0px 414px){
    @include span (12);
  }

  .layout-container{
    color: white;
    @include susy-breakpoint(0px 960px){
      width:95%;
    }
  }
  .footerrow{
    @include full;
    padding: 5vh 0 2vh 0;
    .footercol1{
      @include span (3);
      @include susy-breakpoint(0px 414px){
        @include span (6);
      }
      .footerlogo{
        width: 60%;
      }
    }
    .footermenu{
      @include span (3);
      @include susy-breakpoint(0px 414px){
        @include span (last 6);
      }
    }
    .footerfill{
      @include span (last 6);
      @include susy-breakpoint(0px 414px){
        @include span (0);
      }
    }
  }
  .region-footer{
    @include full;
    p{
      font-size: 1.5vh;
    }
    h3{
      font-size: 2vh;
      margin: 2em 0 1em 0;
    }
    a{
      color:white !important;
    }
    .footer-block{
      padding: 0 0 5vh 0;
      @include span (3);
      @include susy-breakpoint(0px 414px){
        @include span (full);
      }
      .mapcontainer {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom:100%;
      }
      .mapcontainer iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .fbcontainer {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom:150%;
      }
      .fbcontainer iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .footer-item-konto{
        @include susy-breakpoint(0px 414px){
          @include span (6);
        }
      }
      .footer-item-kontakt{
        @include susy-breakpoint(0px 414px){
          @include span (last 6);
        }
      }
    }
    .footercol2{
      @include span (5);
      @include susy-breakpoint(0px 414px){
        @include full;
      }
    }
    .footercol3{
      @include span (last 4);
      @include susy-breakpoint(0px 414px){
        @include span (full);
      }
    }
  }
}

//sponsoren
.field--name-field-paragraph .field__item:first-of-type .field--name-field-sponsorenbild{
  @include prefix (3);
  @include span (6);
  height:200px;
  @include susy-breakpoint(0px 414px){
    height:100px;
  }
}

.paragraph--type--sponsoren{
  @include full;
  @include susy-breakpoint(0px 414px){
    @include span (10);
    @include prefix (1);
    @include suffix (1);
  }
  .field--name-field-sponsorentitel{
    text-align:center;
    font-size: 2.5vh;
    margin: 2em 0 1em 0;
  }
  .field--name-field-sponsorenbild{
    width: span(4);
    float: left;
    &:nth-child(3n+2) {
      clear: both;
      @include isolate(1);
    }
    &:nth-child(3n+3) { @include isolate(5) }
    &:nth-child(3n+4) { @include isolate(9) }
    margin-bottom: gutter(8);
    padding-bottom: 0;
    height:150px;
    @include susy-breakpoint(0px 414px){
      height:100px;
    }
  }
  .field--name-field-sponsorenbild img{
    height:100%;
    width:100%;
    object-fit: contain;
  }
}

// über uns

.field--name-field-textbildrechts{
  @include span (8);
  @include susy-breakpoint(0px 414px){
    @include span (12);
  }
}
.page-7 .field--name-field-textbildrechtsbild{
  @include span (last 4);
  @include susy-breakpoint(0px 414px){
    display:none;
  }
}

// Text mit teaser rechts
.field--name-field-text-mit-teaser-rechts-tex{
  @include span (7);
  @include susy-breakpoint(0px 414px){
    @include span (12);

  }
}
.field--name-field-text-mit-teaser-rechts-tea{
  @include span (last 4);
  @include susy-breakpoint(0px 414px){
    @include span (12);
  }
}

// Band area
.page-3{
  .field--name-field-text-mit-teaser-rechts-tex{
    @include span (6);
    @include susy-breakpoint(0px 414px){
      @include span (12);
    }
  }
  .field--name-field-text-mit-teaser-rechts-tea{
    @include span (last 6);
    @include susy-breakpoint(0px 414px){
      @include span (12);
    }
  }

}


.page-5{
  .paragraph{
    overflow: auto;
    margin-bottom: 2em;
  }
  .field--name-field-textbildrechts{
    @include span (7);
    @include susy-breakpoint(0px 414px){
      @include span (12);

    }
  }
  .field--name-field-textbildrechtsbild{
    padding-top: 4em;
    @include span (last 4);
    @include susy-clearfix;
    @include susy-breakpoint(0px 414px){
      @include span (12);
    }
  }

}


// newsletter
.page-10{
  .paragraph--type--text .field__item{
   @include span (5);
   @include susy-breakpoint(0px 414px){
     @include span (12);
   }
  }
  .paragraph--type--text .field__item:nth-child(2){
   @include span (last 5);
   @include susy-breakpoint(0px 414px){
     @include span (12);
     margin-top:10vh;
   }
  }
  .musthave{
    margin-bottom:2em;
    a{
      display:block;
    }
  }
  #cr_captcha{
    width:160px;
  }
  input{
    line-height:2;
  }
}

// Vermietung
.paragraph ul li{
  font-weight:300;
}

form#rentform{
  font-size:0.6875em;
  margin-top:2em;

  input{
    margin-right: 0.5em;
  }

  legend{
  font-size:1em;

  }

  label{
    display: block;
    margin-top:1em;
  }
  ul{
    margin-bottom:1em;
  }
  ul li{
    margin-bottom: 0.5em;
  }
  .forminfo{
    display:block;
    font-weight:300;
  }

  #totalPrice{
    margin-bottom:1em;
  }

}

//other
.node--type-page h3{
  color: $rot;
}

//archiv
.pager__item{
  display:inline;
}
