@import "susy";

$susy: (
  flow: ltr,
  output: float,
  math: fluid,
  column-width: false,
  container: 960px, // length or % | auto
  container-position: center,
  columns: 12,
  gutters: .5,
  gutter-position: after,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

$nav_layout: layout(12 0 fluid float inside);
$nav_layout_mobile: layout(12 0);
$fontface: "modesto-text";

@mixin mix-blend-mode-difference {
  //color: white;
  //mix-blend-mode: difference;
  .user-logged-in & {
    color: black;
    mix-blend-mode: normal;
  }
}

@mixin mix-blend-mode-difference-footer {
  //mix-blend-mode: difference;
  .user-logged-in & {
    mix-blend-mode: normal;
  }
}

@mixin topofpage {
  top: 0;
  .user-logged-in &{
    top:80px;
  }
}

body{
  color: black;
  font-family: $fontface;
  line-height: 1.25;
  font-size: 2.0vh;
}

h1 {
  font-size: 4vh;
  font-weight: 700;
}

h2 {
  font-size: 3vh;
  margin-top: 0;
  font-weight:300;
}

h3{
  font-size: 2.5vh;
  font-weight:400;
}

p {
  font-size: 2vh;
  font-weight:300;
}

canvas{
  margin: 0 auto;
  position: fixed;
  display: block;
  background-color: white;
  z-index: 0;
}

img{
  width:100%;
  height:auto;
}

.field--type-image{
  overflow: hidden;
  position: relative;
}

.field--name-title{
  @include mix-blend-mode-difference;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.field--name-body,.event_date,.event_detail_info,.event_type_genre{
  @include mix-blend-mode-difference;
}

.event_date{
  font-size: 3vh;
  line-height: 1;
}

.layout-container{
  @include container;
  position: relative;
  color:black;
  a{
    @include mix-blend-mode-difference;
    text-decoration: underline;
  }
}

#edit-submit-programm{
  display: none;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(233,76,79,0.9);
  z-index:9999;
}

.overlay-title{
  font-size:8vh;
  text-align: center;
  margin: 1em 0 1em 0;
  color:#fff;
}

h2.overlay-toggle{
  text-align: center;
  margin: 0 0 1em 0;
  color:#fff;
}

/* Overlay closing cross */
button.overlay-toggle {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(img/cross.png) no-repeat center center;
  background-color:rgba(233,76,79,0.9);
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 99999;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-wrap{
  max-width:960px;
  margin: 0 auto;
  padding:0 1em 0 1em;
}

.welcomevideo{

}

header{
  @include mix-blend-mode-difference;
  @include container;
  @include topofpage;
  width:100%;
  position: fixed;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 999;
  #block-sitebranding{
    @include full;
    margin-top:1rem;
    .site-logo{
      float:left;
      margin-right:1rem;
      padding-left:5px;
      img{
        height:60px;
        width:auto;
      }
      a{
        text-decoration: none;
      }
    }
    .site-name{
      height:60px;
      float:left;
      a{
        text-decoration: none;
        color: #e94c4f;
        font-size: 32px;
        line-height: 1;
        @include susy-breakpoint(0px 414px){
          font-size: 32px;
        }
      }
    }
    .site-slogan{
      color:#fff;
      font-size: 3vmin;
      @include span(last 11);
    }

    #nav-toggle {
      display:none;
    	float:right;
    	margin: 1em;
    }

    #nav-toggle {
    	cursor: pointer;
    	padding: 10px 35px 16px 0px;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: #e94c4f;
      position: absolute;
      display: block;
      content: '';
    }
    #nav-toggle span:before {
      top: -10px;
    }
    #nav-toggle span:after {
      bottom: -10px;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
      transition: all 500ms ease-in-out;

    }
    #nav-toggle.active span {
      background-color: transparent;
    }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0;
      background-color: #e94c4f;
    }
    #nav-toggle.active span:before {
      transform: rotate(45deg);
    }
    #nav-toggle.active span:after {
      transform: rotate(-45deg);
    }
  }
  #block-mainnavigation{
    display:none;
  }
  nav.navigation{
    @include prefix(4);
    @include suffix(1);
    @include span(7);
    margin-top:1em;
    @include susy-breakpoint(0px 414px){
      @include full;
      @include prefix(0);
      @include suffix(1);
      margin-top:5em;
      margin-left:8.75em;
      height:100vh;
    }

    #myTopnav > li.menu-item{
      padding:0 0 2em 0;
    }

    ul.menu
      a{
        color:#e94c4f;
        text-decoration: none;
        @include susy-breakpoint(0px 414px){
          font-size: 3em;
        }
      }
      a:hover{
        font-style: italic;
      }
      a:active{
        font-style: italic;
      }
    }
    ul.menu a.is-active{
      color:#e94c4f;
      font-style: italic;
    }
    ul.menu li.menu-item{
      @include span(3 of $nav_layout);
      @include susy-breakpoint(0px 414px){
        @include span(12 of $nav_layout_mobile);
      }
    }
    ul.menu li.menu-item--expanded{
      list-style-image:none;
      list-style-type: none;
    }
    ul.menu li.icon{
      display:none;
      @include susy-breakpoint(0px 414px){

      }

      a{
        font-size: 7vmin;
      }
    }

    ul.menu.responsive{
      @include susy-breakpoint(0px 414px){
        position: relative;
        float: none;
      }
    }
    ul.menu.responsive li.icon{
      @include susy-breakpoint(0px 414px){
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    ul.menu.responsive li{
      @include susy-breakpoint(0px 414px){
        float: none;
        display: inline;
      }
    }
    ul.menu.responsive li a{
      @include susy-breakpoint(0px 414px){
        display: block;
        text-align: right;
      }
    }
    #site-nav{
        .menu-item{
        }
    }
  }


main{
  @include full;
  margin: 6.5em auto 15vh;
  .view-filters{
    @include full;
    .form--inline .form-item {
      float:right;
    }
  }

  article{
    @include full;
    max-height: 20vh;
    margin-top:5vh;
    overflow: hidden;

    .event_image{
      @include span(4);
      height: 0;
      padding-bottom: 17.678570625%;
      overflow: hidden;
      img{
      }
    }
    .event_title{
      @include span(6);
      h2{
        margin:0;
      }
      a{
        color:black;
        text-decoration: none
      }
    }
    .event_type_genre{
      @include span(6);
    }
    .event_date{
      @include span(last 2);
    }

  }

  .event_detail{
    @include full;

    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;

    &.active {
      opacity: 1;
      max-height: none;
    }

    .event_detail_col1{
      @include span(7);
      margin-top:2em;
        @include susy-breakpoint(0px 414px){
          @include full;
        }
      .event_detail_body{
        @include full;
        margin-bottom:1em;
        p{
          line-height: 1.25 !important;
        }
      }
      .event_detail_info{
        @include full;
      }
    }
    .event_detail_col2{
      @include span(last 5);
      margin-top:2em;
        @include susy-breakpoint(0px 414px){
          @include full;
        }
      .event_detail_image{
        @include full;
        img{
        }
        //@include full
          /* cell inherit height from carousel */
          .carousel-cell {
            width: 100%;
          }
      }
      .event_detail_video{
        @include full;
        .field--type-video{
          margin: 2em 0 2em 0;
        }
      }


    }
  .field__label:after{
    content:":";
  }
  .field--label-inline .field__label{
    float: left;
    padding-right: 0.5em;
    }

  }

  .programm-event{
  }
}

footer{
  @include full;
  margin-top:10vh;
  background-color: #fff;
  @include mix-blend-mode-difference-footer;
  .region-footer{
    @include full;
    #block-adresse{
      @include span (4);
    }
    #block-footermap{
      @include span (4);
    }
  }
}
