body {
  color: black;
  font-family: "modesto-text";
  line-height: 1.25;
  font-size: 1em; }

h1 {
  font-size: 2em;
  line-height: 1.25em; }

h2 {
  font-size: 1.375em;
  line-height: 1.25em;
  font-weight: 300;
  margin-top: 0; }
  @media (min-width: 0px) and (max-width: 760px) {
    h2 {
      font-size: 1.25em; } }

h3 {
  font-size: 1.25em;
  font-weight: 300; }

p {
  font-size: 1em;
  line-height: 1.25em;
  font-weight: 300; }

canvas {
  margin: 0 auto;
  position: fixed;
  display: none;
  z-index: 0; }

img {
  width: 100%;
  height: auto; }

.field--type-image {
  overflow: hidden;
  position: relative; }

.user-logged-in .field--name-title {
  color: black;
  mix-blend-mode: normal; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.user-logged-in .field--name-body, .user-logged-in .event_date, .user-logged-in .event_detail_info, .user-logged-in .event_type_genre {
  color: black;
  mix-blend-mode: normal; }

.layout-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: black; }
  .layout-container:after {
    content: " ";
    display: block;
    clear: both; }
  .layout-container a {
    text-decoration: underline; }
    .user-logged-in .layout-container a {
      color: black;
      mix-blend-mode: normal; }

.headroom {
  will-change: transform;
  transition: transform 200ms linear; }

.headroom--pinned {
  transform: translateY(0%); }

.headroom--unpinned {
  transform: translateY(-100%); }

/* Overlay style */
.overlay {
  /*position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(233,76,79,0.9);*/ }

.overlay-title {
  font-size: 8vh;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
  color: #fff; }

h2.overlay-toggle {
  text-align: center;
  margin: 0 0 1em 0;
  color: #fff; }

/* Overlay closing cross */
button.overlay-toggle {
  width: 64px;
  height: 64px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  overflow: hidden;
  border: none;
  background: url(img/cross.png) no-repeat center center;
  background-color: rgba(233, 76, 79, 0.9);
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 99999; }

.overlay-message {
  position: fixed;
  bottom: 20px;
  right: 84px;
  height: 64px;
  background-color: rgba(233, 76, 79, 0.9);
  z-index: 99999; }
  .overlay-message p {
    color: #fff;
    font-weight: 300;
    padding: 0 1em;
    line-height: 1.6; }

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s; }

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.overlay-wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em 0 1em; }

header {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 999; }
  .user-logged-in header {
    color: black;
    mix-blend-mode: normal; }
  header:after {
    content: " ";
    display: block;
    clear: both; }
  .user-logged-in header {
    top: 80px; }
  header #block-sitebranding {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    header #block-sitebranding .site-logo {
      float: left;
      margin-right: 1rem;
      padding-left: 5px; }
      header #block-sitebranding .site-logo img {
        height: 60px;
        width: auto; }
      header #block-sitebranding .site-logo a {
        text-decoration: none; }
    header #block-sitebranding .site-name {
      height: 60px;
      float: left; }
      header #block-sitebranding .site-name a {
        text-decoration: none;
        color: #e94c4f;
        font-size: 32px;
        line-height: 1; }
        @media (min-width: 0px) and (max-width: 414px) {
          header #block-sitebranding .site-name a {
            font-size: 32px; } }
    header #block-sitebranding .site-slogan {
      color: #fff;
      font-size: 3vmin;
      width: 91.42857%;
      float: right;
      margin-right: 0; }
    header #block-sitebranding #menu-nav-toggle {
      display: none;
      color: #e94c4f;
      float: right;
      text-decoration: none;
      margin: 1em 0;
      cursor: pointer; }
      @media (min-width: 0px) and (max-width: 414px) {
        header #block-sitebranding #menu-nav-toggle {
          display: inline-block; } }
    header #block-sitebranding #nav-toggle {
      display: none;
      float: right;
      margin: 1em; }
      @media (min-width: 0px) and (max-width: 414px) {
        header #block-sitebranding #nav-toggle {
          display: inline-block; } }
    header #block-sitebranding #nav-toggle {
      cursor: pointer;
      padding: 10px 35px 16px 0px; }
    header #block-sitebranding #nav-toggle span, header #block-sitebranding #nav-toggle span:before, header #block-sitebranding #nav-toggle span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: #e94c4f;
      position: absolute;
      display: block;
      content: ''; }
    header #block-sitebranding #nav-toggle span:before {
      top: -10px; }
    header #block-sitebranding #nav-toggle span:after {
      bottom: -10px; }
    header #block-sitebranding #nav-toggle span, header #block-sitebranding #nav-toggle span:before, header #block-sitebranding #nav-toggle span:after {
      transition: all 500ms ease-in-out; }
    header #block-sitebranding #nav-toggle.active span {
      background-color: transparent; }
    header #block-sitebranding #nav-toggle.active span:before, header #block-sitebranding #nav-toggle.active span:after {
      top: 0;
      background-color: #e94c4f; }
    header #block-sitebranding #nav-toggle.active span:before {
      transform: rotate(45deg); }
    header #block-sitebranding #nav-toggle.active span:after {
      transform: rotate(-45deg); }
  @media (min-width: 415px) and (max-width: 960px) {
    header #block-mainnavigation {
      width: 95%;
      float: none;
      margin-left: auto;
      margin-right: auto; } }
  header nav.navigation {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em; }
    @media (min-width: 0px) and (max-width: 414px) {
      header nav.navigation {
        clear: both;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0%;
        padding-right: 8.57143%;
        margin-top: 5em;
        margin-left: 8.75em;
        height: 100vh;
        display: none; } }
    @media (min-width: 0px) and (max-width: 414px) {
      header nav.navigation #myTopnav {
        display: none; } }
    header nav.navigation #myTopnav > li.menu-item:not(:first-child) {
      padding: 0 0 2em 5px; }
    header nav.navigation ul.menu a {
      color: #e94c4f;
      text-decoration: none;
      font-size: 1.5em; }
      @media (min-width: 414px) and (max-width: 960px) {
        header nav.navigation ul.menu a {
          font-size: 1.25em; } }
      @media (min-width: 0px) and (max-width: 414px) {
        header nav.navigation ul.menu a {
          font-size: 2em; } }
      header nav.navigation ul.menu a a:hover {
        font-style: italic; }
      header nav.navigation ul.menu a a:active {
        font-style: italic; }
    header nav.navigation ul.menu a.is-active {
      color: #e94c4f;
      font-style: italic; }
    header nav.navigation ul.menu li.menu-item {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 16.66667%;
      float: left; }
      @media (min-width: 0px) and (max-width: 414px) {
        header nav.navigation ul.menu li.menu-item {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }
    header nav.navigation ul.menu li.menu-item--expanded {
      list-style-image: none;
      list-style-type: none; }
    header nav.navigation ul.menu li.icon {
      display: none; }
      header nav.navigation ul.menu li.icon a {
        font-size: 7vmin; }
    @media (min-width: 0px) and (max-width: 414px) {
      header nav.navigation ul.menu.responsive {
        position: relative;
        float: none; } }
    @media (min-width: 0px) and (max-width: 414px) {
      header nav.navigation ul.menu.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0; } }
    @media (min-width: 0px) and (max-width: 414px) {
      header nav.navigation ul.menu.responsive li {
        float: none;
        display: inline; } }
    @media (min-width: 0px) and (max-width: 414px) {
      header nav.navigation ul.menu.responsive li a {
        display: block;
        text-align: right; } }

main {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 12em auto 5vh; }
  @media (min-width: 0px) and (max-width: 960px) {
    main {
      float: none;
      width: 95%;
      margin-left: auto;
      margin-right: auto; } }
  main .view-filters {
    display: none;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em; }
    main .view-filters .form--inline .form-item {
      float: left;
      margin-bottom: 1em; }
    main .view-filters select, main .view-filters input {
      margin: 0 1em 0 0.5em;
      border-color: #e94c4f;
      background-color: white;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid; }
    main .view-filters input {
      padding: 1px 6px 2px; }
  main article.node--type-projektgruppe {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
    overflow: hidden;
    max-height: 300px; }
    @media (min-width: 0px) and (max-width: 760px) {
      main article.node--type-projektgruppe {
        clear: both;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
  main article.node--type-projektgruppe:nth-child(2n+2) {
    width: 48.57143%;
    float: right;
    margin-right: 0; }
  main .projektdetails {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0; }
    main .projektdetails.active {
      opacity: 1;
      max-height: none; }
  main .projektdetails:nth-child(2n+2) {
    width: 48.57143%;
    float: right;
    margin-right: 0; }
  main article.node--type-event {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    max-height: 169px;
    margin-top: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
    display: flex; }
    @media (min-width: 0px) and (max-width: 760px) {
      main article.node--type-event {
        max-height: 201px; } }
    main article.node--type-event .event_content {
      width: 100%; }
    main article.node--type-event .event_date {
      font-size: 1.375em;
      line-height: 1.25em;
      width: 14.28571%;
      float: left;
      margin-right: 2.85714%;
      height: 100%;
      background-color: #e94c4f;
      margin-right: 0; }
      main article.node--type-event .event_date div {
        padding-top: 0;
        text-align: center;
        color: white; }
      main article.node--type-event .event_date div:first-child {
        padding-top: 0.5em; }
      @media (min-width: 0px) and (max-width: 760px) {
        main article.node--type-event .event_date {
          font-size: 1em;
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0;
          height: 2em; }
          main article.node--type-event .event_date div {
            display: inline-block;
            float: right;
            padding-top: 0;
            padding: 0 0.25em; }
          main article.node--type-event .event_date div:first-child {
            float: left;
            padding-top: 0; }
          main article.node--type-event .event_date div.field__items {
            float: left; } }
    main article.node--type-event .event_image {
      width: 31.42857%;
      float: left;
      margin-right: 2.85714%;
      height: 0;
      padding-bottom: 17.678570625%; }
      @media (min-width: 0px) and (max-width: 760px) {
        main article.node--type-event .event_image {
          width: 40%;
          float: left;
          margin-right: 2.85714%;
          margin-right: 0; } }
    main article.node--type-event .event_title {
      width: 48.57143%;
      float: right;
      margin-right: 0; }
      main article.node--type-event .event_title h2 {
        margin: 0;
        padding: 0.5em; }
      main article.node--type-event .event_title a {
        color: black;
        text-decoration: none; }
      @media (min-width: 0px) and (max-width: 760px) {
        main article.node--type-event .event_title {
          width: 57.14286%;
          float: left;
          margin-right: 2.85714%; } }
    main article.node--type-event .event_type_genre {
      clear: both;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
  main .event_detail {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0; }
    main .event_detail.active {
      opacity: 1;
      max-height: none; }
    main .event_detail .event_detail_col1 {
      width: 57.14286%;
      float: left;
      margin-right: 2.85714%;
      margin-top: 2em; }
      @media (min-width: 0px) and (max-width: 414px) {
        main .event_detail .event_detail_col1 {
          clear: both;
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }
      main .event_detail .event_detail_col1 .event_detail_body {
        clear: both;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1em; }
        main .event_detail .event_detail_col1 .event_detail_body p {
          line-height: 1.25 !important; }
      main .event_detail .event_detail_col1 .event_detail_info {
        clear: both;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; }
    main .event_detail .event_detail_col2 {
      width: 40%;
      float: right;
      margin-right: 0;
      margin-top: 2em; }
      @media (min-width: 0px) and (max-width: 414px) {
        main .event_detail .event_detail_col2 {
          clear: both;
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }
      main .event_detail .event_detail_col2 .event_detail_image {
        clear: both;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        /* cell inherit height from carousel */ }
        main .event_detail .event_detail_col2 .event_detail_image .carousel-cell {
          width: 100%; }
      main .event_detail .event_detail_col2 .event_detail_video {
        clear: both;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; }
        main .event_detail .event_detail_col2 .event_detail_video .field--type-video {
          position: relative;
          width: 100%;
          padding-bottom: 56.25%;
          padding-top: 35px;
          height: 0px;
          overflow: hidden;
          left: 0%;
          margin-bottom: 1em; }
          main .event_detail .event_detail_col2 .event_detail_video .field--type-video iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; }
    main .event_detail .field__label:after {
      content: ":"; }
    main .event_detail .field--label-inline .field__label {
      float: left;
      padding-right: 0.5em; }
  main .js-pager__items {
    text-align: center;
    margin-top: 5vh; }

footer {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10vh;
  background-color: #e94c4f;
  color: white; }
  .user-logged-in footer {
    mix-blend-mode: normal; }
  @media (min-width: 0px) and (max-width: 414px) {
    footer {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  footer .layout-container {
    color: white; }
    @media (min-width: 0px) and (max-width: 960px) {
      footer .layout-container {
        width: 95%; } }
  footer .footerrow {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 5vh 0 2vh 0; }
    footer .footerrow .footercol1 {
      width: 22.85714%;
      float: left;
      margin-right: 2.85714%; }
      @media (min-width: 0px) and (max-width: 414px) {
        footer .footerrow .footercol1 {
          width: 48.57143%;
          float: left;
          margin-right: 2.85714%; } }
      footer .footerrow .footercol1 .footerlogo {
        width: 60%; }
    footer .footerrow .footermenu {
      width: 22.85714%;
      float: left;
      margin-right: 2.85714%; }
      @media (min-width: 0px) and (max-width: 414px) {
        footer .footerrow .footermenu {
          width: 48.57143%;
          float: right;
          margin-right: 0; } }
    footer .footerrow .footerfill {
      width: 48.57143%;
      float: right;
      margin-right: 0; }
      @media (min-width: 0px) and (max-width: 414px) {
        footer .footerrow .footerfill {
          width: -2.85714%;
          float: left;
          margin-right: 2.85714%; } }
  footer .region-footer {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    footer .region-footer p {
      font-size: 1.5vh; }
    footer .region-footer h3 {
      font-size: 2vh;
      margin: 2em 0 1em 0; }
    footer .region-footer a {
      color: white !important; }
    footer .region-footer .footer-block {
      padding: 0 0 5vh 0;
      width: 22.85714%;
      float: left;
      margin-right: 2.85714%; }
      @media (min-width: 0px) and (max-width: 414px) {
        footer .region-footer .footer-block {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }
      footer .region-footer .footer-block .mapcontainer {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 100%; }
      footer .region-footer .footer-block .mapcontainer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      footer .region-footer .footer-block .fbcontainer {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 150%; }
      footer .region-footer .footer-block .fbcontainer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      @media (min-width: 0px) and (max-width: 414px) {
        footer .region-footer .footer-block .footer-item-konto {
          width: 48.57143%;
          float: left;
          margin-right: 2.85714%; } }
      @media (min-width: 0px) and (max-width: 414px) {
        footer .region-footer .footer-block .footer-item-kontakt {
          width: 48.57143%;
          float: right;
          margin-right: 0; } }
    footer .region-footer .footercol2 {
      width: 40%;
      float: left;
      margin-right: 2.85714%; }
      @media (min-width: 0px) and (max-width: 414px) {
        footer .region-footer .footercol2 {
          clear: both;
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }
    footer .region-footer .footercol3 {
      width: 31.42857%;
      float: right;
      margin-right: 0; }
      @media (min-width: 0px) and (max-width: 414px) {
        footer .region-footer .footercol3 {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }

.field--name-field-paragraph .field__item:first-of-type .field--name-field-sponsorenbild {
  padding-left: 25.71429%;
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
  height: 200px; }
  @media (min-width: 0px) and (max-width: 414px) {
    .field--name-field-paragraph .field__item:first-of-type .field--name-field-sponsorenbild {
      height: 100px; } }

.paragraph--type--sponsoren {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 0px) and (max-width: 414px) {
    .paragraph--type--sponsoren {
      width: 82.85714%;
      float: left;
      margin-right: 2.85714%;
      padding-left: 8.57143%;
      padding-right: 8.57143%; } }
  .paragraph--type--sponsoren .field--name-field-sponsorentitel {
    text-align: center;
    font-size: 2.5vh;
    margin: 2em 0 1em 0; }
  .paragraph--type--sponsoren .field--name-field-sponsorenbild {
    width: 31.42857%;
    float: left;
    margin-bottom: 4.34783%;
    padding-bottom: 0;
    height: 150px; }
    .paragraph--type--sponsoren .field--name-field-sponsorenbild:nth-child(3n+2) {
      clear: both;
      float: left;
      margin-left: 0;
      margin-right: -100%; }
    .paragraph--type--sponsoren .field--name-field-sponsorenbild:nth-child(3n+3) {
      float: left;
      margin-left: 34.28571%;
      margin-right: -100%; }
    .paragraph--type--sponsoren .field--name-field-sponsorenbild:nth-child(3n+4) {
      float: left;
      margin-left: 68.57143%;
      margin-right: -100%; }
    @media (min-width: 0px) and (max-width: 414px) {
      .paragraph--type--sponsoren .field--name-field-sponsorenbild {
        height: 100px; } }
  .paragraph--type--sponsoren .field--name-field-sponsorenbild img {
    height: 100%;
    width: 100%;
    object-fit: contain; }

.field--name-field-textbildrechts {
  width: 65.71429%;
  float: left;
  margin-right: 2.85714%; }
  @media (min-width: 0px) and (max-width: 414px) {
    .field--name-field-textbildrechts {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.page-7 .field--name-field-textbildrechtsbild {
  width: 31.42857%;
  float: right;
  margin-right: 0; }
  @media (min-width: 0px) and (max-width: 414px) {
    .page-7 .field--name-field-textbildrechtsbild {
      display: none; } }

.field--name-field-text-mit-teaser-rechts-tex {
  width: 57.14286%;
  float: left;
  margin-right: 2.85714%; }
  @media (min-width: 0px) and (max-width: 414px) {
    .field--name-field-text-mit-teaser-rechts-tex {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.field--name-field-text-mit-teaser-rechts-tea {
  width: 31.42857%;
  float: right;
  margin-right: 0; }
  @media (min-width: 0px) and (max-width: 414px) {
    .field--name-field-text-mit-teaser-rechts-tea {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.page-3 .field--name-field-text-mit-teaser-rechts-tex {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%; }
  @media (min-width: 0px) and (max-width: 414px) {
    .page-3 .field--name-field-text-mit-teaser-rechts-tex {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.page-3 .field--name-field-text-mit-teaser-rechts-tea {
  width: 48.57143%;
  float: right;
  margin-right: 0; }
  @media (min-width: 0px) and (max-width: 414px) {
    .page-3 .field--name-field-text-mit-teaser-rechts-tea {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.page-5 .paragraph {
  overflow: auto;
  margin-bottom: 2em; }

.page-5 .field--name-field-textbildrechts {
  width: 57.14286%;
  float: left;
  margin-right: 2.85714%; }
  @media (min-width: 0px) and (max-width: 414px) {
    .page-5 .field--name-field-textbildrechts {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.page-5 .field--name-field-textbildrechtsbild {
  padding-top: 4em;
  width: 31.42857%;
  float: right;
  margin-right: 0; }
  .page-5 .field--name-field-textbildrechtsbild:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 0px) and (max-width: 414px) {
    .page-5 .field--name-field-textbildrechtsbild {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.page-10 .paragraph--type--text .field__item {
  width: 40%;
  float: left;
  margin-right: 2.85714%; }
  @media (min-width: 0px) and (max-width: 414px) {
    .page-10 .paragraph--type--text .field__item {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.page-10 .paragraph--type--text .field__item:nth-child(2) {
  width: 40%;
  float: right;
  margin-right: 0; }
  @media (min-width: 0px) and (max-width: 414px) {
    .page-10 .paragraph--type--text .field__item:nth-child(2) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      margin-top: 10vh; } }

.page-10 .musthave {
  margin-bottom: 2em; }
  .page-10 .musthave a {
    display: block; }

.page-10 #cr_captcha {
  width: 160px; }

.page-10 input {
  line-height: 2; }

.paragraph ul li {
  font-weight: 300; }

form#rentform {
  font-size: 0.6875em;
  margin-top: 2em; }
  form#rentform input {
    margin-right: 0.5em; }
  form#rentform legend {
    font-size: 1em; }
  form#rentform label {
    display: block;
    margin-top: 1em; }
  form#rentform ul {
    margin-bottom: 1em; }
  form#rentform ul li {
    margin-bottom: 0.5em; }
  form#rentform .forminfo {
    display: block;
    font-weight: 300; }
  form#rentform #totalPrice {
    margin-bottom: 1em; }

.node--type-page h3 {
  color: #e94c4f; }

.pager__item {
  display: inline; }
